@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:500');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');


body {
  margin: 0;
}

header {
  height: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(218, 138, 110);
}

header h1 {
  font-family: 'Gochi Hand', cursive;
  letter-spacing: 5px;
  font-size: 250px;
  color: white;
  margin: 0px;
}

nav a {
  font-family: 'Maven Pro', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 30px;
  padding: 25px;
  padding-bottom: 17px;
  margin: 25px;
  transition: all 0.2s linear;
}

nav a:hover {
  text-shadow: 0 0 10px rgb(28, 17, 5);
}

a .icons-encabezado {
  font-size: 35px;
  color: white;
  padding-right: 10px;
}

#pagina {
  width: 1500px;
  margin: auto;
}

p, span, li {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 1px;
}

.box-faq h4 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.p, h2, h3, h4 {
  font-family: 'Maven Pro', sans-serif;
}

#section-home {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  margin-bottom: 100px;
}

.slider-home {
  max-width: 1060px;
  min-height: 780px;
  padding-top: 30px;
  padding-left: 30px;
  paddint-right: 30px;
  padding-bottom: 50px;
  box-shadow: 1px 1px 10px grey;
}

.formulario {
  background-color: red;
  width: 300px;
  height: 400px;
  margin: auto;
}

#section-galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  background-image: url(https://images.unsplash.com/photo-1489702932289-406b7782113c?auto=format&fit=crop&w=1352&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 10px black;
}

#section-galeria a {
  font-size: 150px;
  text-decoration: none;
  color: white;
  text-shadow: 0 0 20px black;
  padding: 40px;
  transition: all 0.2s linear;
}

#section-galeria a:hover {
  font-size: 155px;
  text-shadow: 0 0 20px rgb(70, 70, 70);
}

#section-quienes-somos {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  background-image: url(https://images.unsplash.com/photo-1490124202977-5cf3173f72b2?auto=format&fit=crop&w=1351&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  padding-top: 20px;
  margin-top: 100px;
  font-size: 20px;
  text-shadow: 0 0 1px rgb(98, 97, 97);
  color: rgb(18, 17, 17);
  box-shadow: 0 0 10px rgb(97, 96, 96);
}

#section-quienes-somos .container-box-quienes-somos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#section-quienes-somos .box-quienes-somos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  margin-right: 30px;
  padding: 10px;
  text-align: center;
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.14), rgba(255, 255, 255, 0) 75%);
}

#section-quienes-somos div h2 {
  text-shadow: 1px 1px 15px rgba(187, 137, 183, 0.89);
  font-size: 80px;
  color: rgb(240, 187, 235);
  margin-bottom: 50px;
}

.icons-quienes-somos {
  font-size: 45px;
  color: lightgrey;
  padding: 50px;
}

.icons-quienes-somos:hover {
  text-shadow: 0 0 5px lightgrey;
}

#section-faq {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
  height: 750px;
  background-image: url(https://images.unsplash.com/photo-1475234561019-11e030717c51?auto=format&fit=crop&w=1350&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 10px rgb(97, 96, 96);
}

#section-faq h2 {
  font-size: 100px;
  margin-left: 150px;
  margin-bottom: 278px;
  color: rgb(47, 69, 125);
  text-shadow: 1px 1px 10px rgb(28, 41, 77);
}

.container-box-faq {
  width: 1500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 20px;
}

.box-faq {
  width: 460px;
  height: 180px;
  margin: 15px;
  padding: 8px;
  font-size: 24px;
  text-align: center;
  background-color: rgba(153, 151, 151, 0.26);
  transition: all 0.4s linear;
  border-radius: 3%;
}

.box-faq:hover {
  box-shadow: 0 0 20px rgba(102, 101, 100, 0.78);
}

#section-contacto {
background-image: url(https://raw.githubusercontent.com/albaMaria/lucaskids/master/img/sobre.png);
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 700px;
height: 700px;
margin: auto;
margin-top: 100px;
}

#section-contacto h3 {
  font-family: 'Gochi Hand', cursive;
  font-size: 50px;
  color: rgb(67, 110, 215);
  margin-bottom: 1px;
  margin-top: 1px;
  letter-spacing: 5px;
}

.container-contacto {
  color: rgb(52, 52, 52);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 200px;
  margin-bottom: 200px;
  text-align: center;
  letter-spacing: 1px;
}

.icon-contacto {
  font-size: 19px;
}

#pagina li {
  list-style-type: none;
}

footer {
  background-color: rgba(142, 142, 142, 0.63);
  color: rgb(69, 69, 69);
  text-align: center;
  padding: 20px;
  font-size: 18px;
}
