@import url(https://fonts.googleapis.com/css?family=Gochi+Hand);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:500);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed);

body {
  margin: 0;
}

header {
  height: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(218, 138, 110);
}

header h1 {
  font-family: 'Gochi Hand', cursive;
  letter-spacing: 5px;
  font-size: 250px;
  color: white;
}

header h1 {
  margin: 0px;
}

nav a {
  font-family: 'Maven Pro', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 30px;
  padding: 50px;
  padding-bottom: 17px;
  margin: 25px;
  transition: all 0.2s linear;
}

nav a:hover {
  text-shadow: 0 0 10px rgb(28, 17, 5);
}

#pagina {
  width: 1250px;
  margin: auto;
}

.p, p, h2, h3, h4, span, li {
  font-family: 'Open Sans Condensed', sans-serif;
}

#section-home {
  height: 600px;
}

#section-galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  background-image: url(https://cdn.pixabay.com/photo/2017/04/14/04/36/boy-2229297_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#section-galeria a {
  font-size: 100px;
  text-decoration: none;
  color: white;
  text-shadow: 0 0 20px black;
  padding: 40px;
  transition: all 0.2s linear;
}

#section-galeria a:hover {
  font-size: 105px;
  text-shadow: 0 0 20px rgb(70, 70, 70);
}

footer {
  background-color: rgba(142, 142, 142, 0.63);
  color: rgb(69, 69, 69);
  text-align: center;
  padding: 20px;
  font-size: 18px;
}
